<div class="faq">
  <p class="question">
    <%= "What is a Purchase Order?".t %>
  </p>
  <p class="answer">
    <%= "A Purchase Order contains a list of items you have bought on #{SERVICE_NAME}.".t %>
  </p>
  <p class="question">
    <%= "What is a Sales Order?".t %>
  </p>
  <p class="answer">
    <%= "A Sales Order contains a list of items you have sold to a #{SERVICE_NAME} member, e.g. a reward you were given for a recommendation that solved an issue.".t %>
  </p>
</div>