<ul>
  <li><%= "Select from thousands of topics you qualify for and help whenever it is convenient.".t %></li>
  <li><%= "Enhance your profile with your track record of quality work giving recommendations.".t %></li>
  <li><%= ["Generate new leads through your contribution.".t, "You are compensated for your quality work.".t].to_sentences %></li>
</ul>
