<% if current_user && current_user.has_role?(:moderator) %>
  <% content_for :content_sub_nav do %>
  <div id="shellSub">
    <ul class="sub_tabs">
      <%= admin_tab_list_link_to 'Products', '/admin/products' %>
      <%= admin_tab_list_link_to 'Services', '/admin/services' %>
    </ul>
  </div>
  <div class='clearing'><br clear="both" /></div>
  <% end %>

  <%= render :active_scaffold => "admin/#{controller.controller_name}" %>	
<% end %>