<!-- START bracket_container -->
<div class="bracketBoxTop"></div>
<div class="bracketBoxMiddle">
	<%= body %>
</div>
<div class="bracketBoxBottom"></div>
<div class="clearClass"></div>
<!-- END bracket_container -->
