<h1>New contact</h1>

<%= error_messages_for :contact %>

<% form_for(:contact, :url => contacts_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', contacts_path %>