<%# draw some shaded boxes to be cut and spriteified %>
<style>

.whitebox {
	float:left;
	width: 468px !important;
	height: 200px !important;
	padding: 0 !important;
	-moz-border-radius:8px;
  -webkit-border-radius:8px;

	background-color: #fff;

	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #eee;
	margin-left:40px;
}

.greybox {
	float:left;
	width: 244px !important;
	height: 200px !important;
	padding: 0 !important;
	-moz-border-radius:8px;
  -webkit-border-radius:8px;

	background-color: #eee;

	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #eee;
	margin-left:0px;
}



</style>
<br/>
<br/>
<br/>
<div class="greybox">&nbsp;</div>
<div class="whitebox">&nbsp;</div>
<div class="clearClass"></div>
<br/>
<br/>
<br/>
<br/>
