<%# how %>
<p>
<%= "Ask questions, report problems, share ideas and give praise.".t %>
</p>
<p>
<%= "File your cases about any topic, any location and in any category you want.".t %>
</p>
<p>
<%= "You can set rewards and get faster more accurate responses.".t %>
</p>
