<ul>
  <li><%= "Ask questions, report problems, share ideas, give praise".t %></li>
  <li><%= "Find qualified people in organizations and communities".t %></li>
  <li><%= "Meet people that care about you".t %></li>
</ul>

