development:
  bucket: luleka.net-development
  access_key_id: 123...
  secret_access_key: 123...

test:
  bucket: luleka.net-test
  access_key_id: abc...
  secret_access_key: abc...

staging:
  bucket: luleka.net-staging
  access_key_id: 456...
  secret_access_key: 456...
    
production:
  bucket: luleka.net-production
  access_key_id: 456...
  secret_access_key: 456...

