<ul class="footer-nav">
  <li><a href="/about">About</a><span class="dot">·</span></li>
  <li><a href="/help">Help</a><span class="dot">·</span></li>
  <li><a href="/blog">Blog</a><span class="dot">·</span></li>
  <li><a href="/jobs">Jobs</a><span class="dot">·</span></li>
  <li><a href="/tos">Terms</a><span class="dot">·</span></li>
  <li><a href="/privacy">Privacy</a><span class="dot">·</span></li>
  <li><a href="/guidelines">Guidelines</a><span class="dot">·</span></li>
  <li><span class="copyright">&copy; <%= Time.now.year %> Luleka S.A.</span></li>
</ul>
