<%# account/bank/faq %>
<div class="faq">
  <p class="question">
    <%= "What is a #{SERVICE_PIGGYBANK_NAME}?".t %>
  </p>
  <p class="answer">
    <%= "Your #{SERVICE_PIGGYBANK_NAME} allows you to make micro payments for service rewards and transfer funds from and to your real bank.".t %>
  </p>
</div>
