<div id="bottomFooter">
  <div id="bottomFooterBg"></div>
	<div id="bottomFooterContent">
	  <%= render :partial => 'layouts/front/footer_navigation' %>
	  <%= render :partial => 'layouts/shared/locale_navigation' %>
	</div>
  <div class="clearClass"></div>
  <%= render :partial => "layouts/shared/status_footer" %>
</div>
<div class="clearClass"></div>
