<% bracket_container do %>
  <div class="bracketBoxContent">
    <%= div_tag '', :id => 'themap', :style => 'width:100%;height:450px;overflow:hidden;' %>
  </div>
<% end %>
<%= render :partial => 'locations/google_map_location', :object => @locations,
  :locals => {:gmap_key => @gmap_key, :map_control => true} %>